DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=ecodeli_db
DB_HOST=localhost
DB_PORT=5432
NODE_ENV=development
JWT_SECRET=your_jwt_secret
PORT=4000
DATADOG_API_KEY=your_datadog_api_key
STRIPE_SECRET_KEY=your_stripe_secret_key
SENDGRID_API_KEY=your_sendgrid_api_key
RECAPTA_SECRET_KEY=your_recaptcha_secret_key
SENDGRID_FROM_EMAIL=your_sendgrid_from_email
